In [6]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [17]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
# import geopandas as gpd
# import geojsonio
from shapely.geometry import MultiPoint
from shapely import geometry
import json
# import geojson
from shapely.geometry import shape

In [18]:
# read zones and delivery destinations from excel files 
df2 = pd.read_csv('data/shipping_address.csv')
df3 = pd.read_csv('data/global_zone_13FEB19.csv')
df3 = df3.dropna()
df3 = df3.reset_index(drop=True)

In [19]:
df2.head()

   store_id shipping_address.address_location
0       248     35.6512776,139.72413970000002
1       255            35.6443275,139.7342067
2       256            35.6488984,139.7064841
3       408     35.6677656,139.73937780000006
4       439            35.6514513,139.7224048

In [20]:
df3.head()

,id,name,area
0,604,JP-KANAGAWA-Kawasaki-Nakahara-Kosugijinyacho/K...,"{""type"":""POLYGON"",""coordinates"":[[[139.6601879..."
1,994,JP-TOKYO-Chuo-Nihonbashihamamachi/NIhonbashina...,"{""type"":""POLYGON"",""coordinates"":[[[139.7848194..."
2,264,JP-TOKYO-Minato-Motoakasaka,"{""type"":""POLYGON"",""coordinates"":[[[139.7239816..."
3,32190,JP-TOKYO-Suginami-Igusa/Imagawa/Kamiigusa/Momoi,"{""type"":""POLYGON"",""coordinates"":[[[139.5938187..."
4,32906,JP-TOKYO-Katsushika-Minamimizumoto/Niijuku,"{""type"":""POLYGON"",""coordinates"":[[[139.8514072..."

In [21]:
# # df3.dropna()
# for i in range(len(df3.area)):
#     print(len(df3.area[i]))

In [22]:
# # swap x and y
for n in range(len(df3.area)):
    a = json.loads(df3.area[n])
    
    for i in range(len(a['coordinates'][0])):
        left = a['coordinates'][0][i][0]
        right = a['coordinates'][0][i][1]
        a['coordinates'][0][i][0] = right
        a['coordinates'][0][i][1] = left
    df3.area[n] = shape(a)

C:\Users\Nino\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [23]:
# df2 = df2.assign(Zone='')
# for j in range(len(df2['Store Address Address Location'])):
#     print(j)
#     p1, p2 = df2['Store Address Address Location'][j].split(',')[0], df2['Store Address Address Location'][0].split(',')[1]
#     p1 = float(p1)
#     p2 = float(p2)
#     point = Point(p1, p2)
#     for i in range(len(df3.area)):
#         if df3.area[i].contains(point) == True:
#             print(df3.name[i])
#             df2.Zone[j] = df3.name[i]    
            
df2 = df2.assign(Zone='')
for j in range(len(df2['shipping_address.address_location'])):
    
    p1, p2 = df2['shipping_address.address_location'][j].split(',')[0], df2['shipping_address.address_location'][j].split(',')[1]
    p1 = float(p1)
    p2 = float(p2)
    point = Point(p1, p2)
    
    
    for i in range(len(df3.area)):
        if df3.area[i].contains(point) == True:
            zone_name = ''
            zone_name = df3.name[i]
            df2.Zone[j] = zone_name 
            print(j, point, zone_name)
            continue

C:\Users\Nino\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 POINT (35.6512776 139.7241397) JP-TOKYO-Minato-Minamiazabu
1 POINT (35.6443275 139.7342067) JP-TOKYO-Minato-Shirokane
2 POINT (35.6488984 139.7064841) JP-TOKYO-Shibuya-Ebisunishi
3 POINT (35.6677656 139.7393778000001) JP-TOKYO-Minato-Roppongi
4 POINT (35.6514513 139.7224048) JP-TOKYO-Minato-Minamiazabu
5 POINT (35.5213738 139.7337182) JP-KANAGAWA-Kawasaki-Kawasaki-Kawasaki North Area
6 POINT (35.6422271 139.7111922) JP-TOKYO-Shibuya-Ebisuminami
7 POINT (35.6662026 139.7312591) JP-TOKYO-Minato-Akasaka
8 POINT (35.665115 139.7710755) JP-TOKYO-Chuo-Shintomi/Irifune/Minato/Tsukiji/Akashicho/Hamarikyuonshiteien
9 POINT (35.6649178 139.7707866) JP-TOKYO-Chuo-Shintomi/Irifune/Minato/Tsukiji/Akashicho/Hamarikyuonshiteien
10 POINT (35.6485766 139.7207134) JP-TOKYO-Shibuya-Hiroo
11 POINT (35.6063242 139.6526597) JP-TOKYO-Setagaya-Todoroki
12 POINT (35.6576284 139.7241017) JP-TOKYO-Minato-Nishiazabu
13 POINT (35.6436183 139.6990370999999) JP-TOKYO-Meguro-Kamimeguro
14 POINT (35.670803 139.7636786) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
15 POINT (35.6985285 139.7049189) JP-TOKYO-Shinjuku-Okubo
16 POINT (35.6369615 139.724605) JP-TOKYO-Minato-Shirokanedai
17 POINT (35.6558597 139.7401253) JP-TOKYO-Minato-Higashiazabu
18 POINT (35.6076646 139.7123459) JP-TOKYO-Shinagawa-Ebara/Hiratsuka/Nakanobu/Nishinakanobu/Higashinakanobu/Hatanodai
19 POINT (35.6301233 139.7211056) JP-TOKYO-Shinagawa-Higashigotanda
20 POINT (35.6641954 139.7605401) JP-TOKYO-Minato-Nishishinbashi/Shinbashi/Higashishinbashi
21 POINT (35.6729558 139.7705836) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
22 POINT (35.8586758 139.8693215) JP-SAITAMA-Misato-Misato North Area
23 POINT (35.5223548 139.7324869) JP-COSTCO-Kawasaki
24 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
25 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
26 POINT (35.656878 139.724259) JP-TOKYO-Minato-Nishiazabu
27 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
28 POINT (35.6780807 139.7897434) JP-TOKYO-Koto-Fuyuki/Tomioka/Monzennakacho/Eidai/Saga/Fukuzumi/Fukagawa
29 POINT (35.6558597 139.7401253) JP-TOKYO-Minato-Higashiazabu
30 POINT (35.6985285 139.7049189) JP-TOKYO-Shinjuku-Okubo
31 POINT (35.6827383 139.7842047) JP-TOKYO-Chuo-Nihonbashihakozaki/Nihonbashiningyo/Nihonbashikoami/Nihonbashikakigara
32 POINT (35.666812 139.725428) JP-TOKYO-Minato-Minamiaoyama
33 POINT (35.6674012 139.6883768) JP-TOKYO-Shibuya-Tomigaya/Kamiyama
34 POINT (35.651207 139.7239519) JP-TOKYO-Minato-Minamiazabu
35 POINT (35.6436183 139.6990370999999) JP-TOKYO-Meguro-Kamimeguro
36 POINT (35.6581095 139.742775) JP-TOKYO-Minato-Higashiazabu
37 POINT (35.6646712 139.7722987) JP-TOKYO-Chuo-Shintomi/Irifune/Minato/Tsukiji/Akashicho/Hamarikyuonshiteien
38 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
39 POINT (35.6746276 139.7658089) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
40 POINT (35.6721945 139.7624619) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
41 POINT (35.6647189 139.7116082) JP-TOKYO-Minato-Kitaaoyama
42 POINT (35.5213738 139.7337182) JP-KANAGAWA-Kawasaki-Kawasaki-Kawasaki North Area
43 POINT (35.6573287 139.7329342) JP-TOKYO-Minato-Azabujuban
44 POINT (35.6514513 139.7224048) JP-TOKYO-Minato-Minamiazabu
45 POINT (35.6723258 139.8193234) JP-TOKYO-Koto-Kiba/Toyo
46 POINT (35.6604638 139.7292487) JP-TOKYO-Minato-Roppongi
47 POINT (35.6916085 139.7043232) JP-TOKYO-Shinjuku-Shinjuku
48 POINT (35.6603745 139.6976679) JP-TOKYO-Shibuya-Shoto/Udagawa/Jinnan
49 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
50 POINT (35.65269597652384 139.8630410205933) JP-TOKYO-Edogawa-Rinkaicho
51 POINT (35.641935 139.6958797) JP-TOKYO-Meguro-Kamimeguro
52 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
53 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
54 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
55 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
56 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
57 POINT (35.5223548 139.7324869) JP-COSTCO-Kawasaki
58 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
59 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
60 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
61 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
62 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
63 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
64 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
65 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
66 POINT (35.5213738 139.7337182) JP-KANAGAWA-Kawasaki-Kawasaki-Kawasaki North Area
67 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
68 POINT (35.5213738 139.7337182) JP-KANAGAWA-Kawasaki-Kawasaki-Kawasaki North Area
69 POINT (35.5222645 139.7324522) JP-COSTCO-Kawasaki
70 POINT (35.5589277 139.7192438) JP-TOKYO-Ota-Higashikojiya/NIshikojiya/Hainaka/Minamikamata/Kamata/Nishikamata/Higashikamata/Nishikamata
71 POINT (35.653672 139.814311) JP-TOKYO-Koto-Tatasumi
72 POINT (35.6472154 139.711367) JP-TOKYO-Shibuya-Ebisu
73 POINT (35.662437 139.734648) JP-TOKYO-Minato-Roppongi
74 POINT (35.695478 139.7698997) JP-TOKYO-Chiyoda-Chiyoda North Area
75 POINT (35.6722472 139.7616953) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
76 POINT (35.6621595 139.6662095) JP-TOKYO-Setagaya-Kitazawa/Daisawa
77 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
78 POINT (34.7419919 135.4437306) JP-HYOGO
79 POINT (35.6780807 139.7897434) JP-TOKYO-Koto-Fuyuki/Tomioka/Monzennakacho/Eidai/Saga/Fukuzumi/Fukagawa
80 POINT (35.6916376 139.704616) JP-TOKYO-Shinjuku-Shinjuku
81 POINT (35.6998621 139.7188445) JP-TOKYO-Shinjuku-Wakamatsucyo
82 POINT (34.7419919 135.4437306) JP-HYOGO
83 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
84 POINT (35.6561789 139.7333315) JP-TOKYO-Minato-Azabujuban
85 POINT (35.861081 139.864108) JP-SAITAMA-Misato-Misato North Area
86 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
87 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
88 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
89 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
90 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
91 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
92 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
93 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
94 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
95 POINT (35.6445839 139.6702486) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
96 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
97 POINT (35.6441478 139.669257) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
98 POINT (35.6223815 139.6841536) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
99 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
100 POINT (35.600728 139.665525) JP-TOKYO-Setagaya-Tamagawadenenchofu/Oyamadai/Tamadutumi
101 POINT (35.600728 139.665525) JP-TOKYO-Setagaya-Tamagawadenenchofu/Oyamadai/Tamadutumi
102 POINT (35.600728 139.665525) JP-TOKYO-Setagaya-Tamagawadenenchofu/Oyamadai/Tamadutumi
103 POINT (35.600728 139.665525) JP-TOKYO-Setagaya-Tamagawadenenchofu/Oyamadai/Tamadutumi
104 POINT (35.600728 139.665525) JP-TOKYO-Setagaya-Tamagawadenenchofu/Oyamadai/Tamadutumi
105 POINT (35.596576 139.6674573) JP-TOKYO-Ota-Denenchoufu/Denenchoufuhoncho
106 POINT (35.596576 139.6674573) JP-TOKYO-Ota-Denenchoufu/Denenchoufuhoncho
107 POINT (35.596576 139.6674573) JP-TOKYO-Ota-Denenchoufu/Denenchoufuhoncho
108 POINT (35.6140163 139.6601319) JP-TOKYO-Setagaya-Todoroki
109 POINT (35.6140163 139.6601319) JP-TOKYO-Setagaya-Todoroki
110 POINT (35.6140163 139.6601319) JP-TOKYO-Setagaya-Todoroki
111 POINT (35.6140163 139.6601319) JP-TOKYO-Setagaya-Todoroki
112 POINT (35.6140163 139.6601319) JP-TOKYO-Setagaya-Todoroki
113 POINT (35.5890812 139.7287095) JP-TOKYO-Ota-Chuo/Omorinishi/Omorihigashi/Omoriminami/Omorikita/Omorihonchou
114 POINT (35.63232929999999 139.6615818) JP-TOKYO-Setagaya-Kamiuma/Nozawa/Shimouma
115 POINT (35.5596156 139.716101) JP-TOKYO-Ota-Higashikojiya/NIshikojiya/Hainaka/Minamikamata/Kamata/Nishikamata/Higashikamata/Nishikamata
116 POINT (35.5743079 139.7334693) JP-TOKYO-Ota-Chuo/Omorinishi/Omorihigashi/Omoriminami/Omorikita/Omorihonchou
117 POINT (35.5669445 139.6926324) JP-TOKYO-Ota-Tamgawa/Yaguchi
118 POINT (35.708625 139.704871) JP-TOKYO-Shinjuku-Okubo

119 POINT (35.658433 139.8170934) JP-TOKYO-Koto-Shiomi/Edakawa/Shiohama
120 POINT (35.6278924 139.7506302) JP-TOKYO-Minato-Konan
121 POINT (35.6556438 139.7736701) JP-TOKYO-Chuo-Tsukishima/Kachidoki/Tsukuda/Toyomicho
122 POINT (35.6618587 139.8558955) JP-TOKYO-Edogawa-Nishikasai/Seishincho
123 POINT (35.6823552 139.8079746) JP-TOKYO-Koto-Kiyosumi/Shirakawa/Miyoshi/Hirano
124 POINT (35.6503285 139.7214637) JP-TOKYO-Shibuya-Hiroo
125 POINT (35.5890812 139.7287095) JP-TOKYO-Ota-Chuo/Omorinishi/Omorihigashi/Omoriminami/Omorikita/Omorihonchou
126 POINT (35.5890812 139.7287095) JP-TOKYO-Ota-Chuo/Omorinishi/Omorihigashi/Omoriminami/Omorikita/Omorihonchou
127 POINT (35.5890812 139.7287095) JP-TOKYO-Ota-Chuo/Omorinishi/Omorihigashi/Omoriminami/Omorikita/Omorihonchou
128 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
129 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
130 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
131 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
132 POINT (35.5931777 139.7171074) JP-TOKYO-Ota-Sanno/Higashiumagome/Minamiumagome
133 POINT (35.6223815 139.6841536) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
134 POINT (35.6223815 139.6841536) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
135 POINT (35.6223815 139.6841536) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
136 POINT (35.6223815 139.6841536) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
137 POINT (35.6212704 139.6820232) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
138 POINT (35.6212704 139.6820232) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
139 POINT (35.6212704 139.6820232) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
140 POINT (35.6212704 139.6820232) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
141 POINT (35.6212704 139.6820232) JP-TOKYO-Meguro-Himonya/Takaban/Chuoucho
142 POINT (35.6503181 139.7218521) JP-TOKYO-Shibuya-Hiroo
143 POINT (35.5589277 139.7192438) JP-TOKYO-Ota-Higashikojiya/NIshikojiya/Hainaka/Minamikamata/Kamata/Nishikamata/Higashikamata/Nishikamata
144 POINT (35.6123627 139.6282427) JP-TOKYO-Setagaya-Seta/Tamagawa
145 POINT (35.6576284 139.7241017) JP-TOKYO-Minato-Nishiazabu
146 POINT (35.6503285 139.7214637) JP-TOKYO-Shibuya-Hiroo
147 POINT (35.6916376 139.704616) JP-TOKYO-Shinjuku-Shinjuku
148 POINT (35.6558597 139.7401253) JP-TOKYO-Minato-Higashiazabu
149 POINT (35.6503181 139.7218521) JP-TOKYO-Shibuya-Hiroo
150 POINT (35.6746276 139.7658089) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
151 POINT (35.6556791 139.7391504) JP-TOKYO-Minato-Mita
152 POINT (35.6746276 139.7658089) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
153 POINT (35.6746276 139.7658089) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
154 POINT (35.6916376 139.704616) JP-TOKYO-Shinjuku-Shinjuku
155 POINT (35.6558597 139.7401253) JP-TOKYO-Minato-Higashiazabu
156 POINT (35.685285 139.774958) JP-TOKYO-Chuo-Nihonbashihoncho/Nihonbashimuromachi/Nihonbashihongoku
157 POINT (35.7128504 139.750767) JP-TOKYO-Bunkyo-Koishikawa
158 POINT (35.6426009 139.6731456) JP-TOKYO-Setagaya-Ikejiri/Mishuku/Taishidou/Sangendyaya
159 POINT (35.6708114 139.7636897) JP-TOKYO-Chuo-Ginza/Kyobashi/Yaesu/Nihonbashi
160 POINT (35.6913264 139.6995166) JP-TOKYO-Shinjuku-NishiShinjuku
161 POINT (35.6913264 139.6995166) JP-TOKYO-Shinjuku-NishiShinjuku
162 POINT (35.6558597 139.7401253) JP-TOKYO-Minato-Higashiazabu
163 POINT (35.745638 139.7185887) JP-TOKYO-Itabashi-Itabashi/Kaga
164 POINT (35.6550926 139.7780133) JP-TOKYO-Chuo-Harumi
165 POINT (35.76786999999999 139.8719383) JP-TOKYO-Katsushika-Kanamachi/Shibamata
166 POINT (35.7382941 139.7037202) JP-TOKYO-Itabashi-Itabashi East Area 2
167 POINT (35.716591 139.642088) JP-TOKYO-Nakano-Wakamiya/Yamatocho
168 POINT (35.777317 139.713412) JP-TOKYO-Kita-Akabanedai/Kirigaoka/Akabanekita
169 POINT (35.700334 139.809902) JP-TOKYO-Sumida-Sumida South Area
170 POINT (35.6623802 139.7083085) JP-TOKYO-Shibuya-Jingumae

In [24]:
df2.to_excel('data/store_homezone.xlsx', index = False)